/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background:	#F5F5F5;
}
a{
	text-decoration:none;
}
.wrapper{
	width: 1000px;
	margin: 0 auto;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	min-height:700px;
	position:relative;
	background:#FFFFFF;
}
.header{
	width:100%;
	height: 140px;
	background:url(../images/header.jpg);
	background-size:cover;	
}
.header h3{
	font-family: Tahoma;
	font-size:32px;
	font-weight:bold;
	padding-left:20px;
	padding-top: 80px;
	color:#fbbc05;
	text-transform:uppercase;
	text-shadow: 1px 1px 1px #333;
}
.contentHeader{
	font-size:22px;
	font-weight:bold;
	color:#D75000;	
}
.content{
	font-weight:normal;
	padding-bottom: 20px;
	color:#272727;
}
.formSearch{
	width: 600px;
	margin: 7px auto;
	position:absolute;
	right:10px;
	top:2px;
}
.key{
	width: 560px;
	/*-webkit-box-sizing:border;*/
	line-height:30px;
	height:30px;
	font-size:18px;
	float:left;
		
}
.btnSearch{
	width: 30px;
	height: 30px;
	background:url(../images/510n1ix6FHL.png);
	background-size:cover;
	border:0;
	float:right;
}
.showResult{
	border:1px solid #ccc;
	border-radius:10px;
	margin:10px;
	padding:10px;
	min-height:380px;
}
.footer{
	background:#1F2E4A;
	width:100%;
	/*position:absolute;
	left:0;
	bottom:0;*/
	background:url(../images/footer_bg.jpg);
	background-size:cover;
	color: #040D6E;
}
.footerContent{
	padding:15px 20px;
	font-size:12px;
	line-height:15px;
	width: 500px;
	margin:0 auto;
}
.footer div.w50{
	width: 50%;
	float:left;
}
.footer span{
	display:block;
	font-weight:bold;
	font-size:16px;
	text-align:center
}
.footer_bottom{
	width:100%;
	height:24px;
	background:url("../images/footer_bottom.jpg");
}
.clear{
	clear:both;
}