<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>He thong tim kiem</title>
<link rel="stylesheet" type="text/css" href="style/mainstyle.css">
</head>

<body>
	<div class="wrapper">
    	<div class="header">
        	<h3>Hệ thống tìm kiếm web ngữ nghĩa</h3>
        </div>
        <div class="formSearch">
        	<form action="#" method="post">
            	<input class="key" type="text" name="key"/>
                <input class="btnSearch" type="submit" name="btnSearch" value=""/>
            </form> 
        </div>
        <div class="showResult">
        	<div class="contentHeader">
            	Header
            </div>
            <div class="content">
            	Content
            </div>
        </div>
        <div class="footer">
        	<div class="footerContent">
            	<span>Bài báo cáo môn Web ngữ nghĩa </span><br>
                <div class="w50">
                    Giáo viên hướng dẫn:<br>
                    TS. TRẦN CÔNG ÁN
                </div>
                <div class="w50">
                    1. M2515003 - ĐOÀN NGỌC HIẾU<br>
                    2. M2515023 - HUỲNH TRUNG LONG<br>
                    3. M2515008 - TRẦN LÊ HỒNG NHUNG<br>
                    4. M2515011 - BÙI VIỆT PHƯƠNG
                </div>
                <div class="clear"></div>
                
            </div>
            <div class="footer_bottom"></div>
        </div>
        
        
        </div>
    </div>
</body>
</html>
