<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DBPedia Python</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Demo truy xuất DBPEDIA</h1>
                <p class="lead">Đây là demo truy xuất dữ liệu DBPEDIA bằng ngôn ngữ SPARQL</p>
                <p>Chỉ dùng cho mục đích Nghiên cứu và Học tập Web Ngữ nghĩa</p>
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <form name="frmQuery" method="post" action="#">
                    <div class="form-group">
                        <label for="sparqlEndpoint">SPARQL Endpoint</label>
                        <input type="text" class="form-control" name="sparqlEndpoint" id="sparqlEndpoint"
                            aria-describedby="sparqlEndpointHelp" value="http://dbpedia.org/sparql">
                        <small id="sparqlEndpointHelp" class="form-text text-muted">Cổng truy xuất dữ liệu bằng SPARQL
                            của
                            DBPedia.</small>
                    </div>
                    <div class="form-group">
                        <label for="inputGraphURI">Default Graph URI</label>
                        <input type="text" class="form-control" name="inputGraphURI" id="inputGraphURI"
                            aria-describedby="inputGraphURIHelp">
                        <small id="inputGraphURIHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="inputQuery">Query Text</label>
                        <textarea type="text" class="form-control" name="inputQuery" id="inputQuery"
                            aria-describedby="inputQueryHelp" rows="10"></textarea>
                        <small id="inputQueryHelp" class="form-text text-muted">Câu lệnh Truy vấn DBPEDIA sử dụng
                            SPARQL.</small>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnExecuteQuery">Thực hiện QUERY</button>
                </form>
            </div>
            <div class="col col-md-6">
                <div class="card mt-2">
                    <h5 class="card-header bg-success" style="color: #fff;">Kết quả</h5>
                    <div class="card-body">
                        <h5 class="card-title">Kết quả trả về</h5>
                        <textarea class="form-control" name="resultQuery" id="resultQuery" rows="15"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Vendor Javascript -->
    <script src="/static/vendor/jquery/jquery-3.4.1.min.js"></script>
    <script src="/static/vendor/popperjs/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/sweetalert2/sweetalert2.js"></script>
    <script src="/static/js/app.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnExecuteQuery').click(function () {
                var requestData = {
                    sparqlEndpoint: $('#sparqlEndpoint').val(),
                    inputGraphURI: $('#inputGraphURI').val(),
                    inputQuery: $('#inputQuery').val()
                };

                $('#resultQuery').val('');
                $.ajax({
                    url: '/runQuery',
                    type: "POST",
                    data: requestData,
                    dataType: 'json'
                }).done(function (data) {
                    // If successful
                    console.log(data);
                    Swal.fire({
                        icon: 'success',
                        title: 'Truy vấn thành công!',
                        text: 'Dữ liệu trả về từ DBPEDIA được hiển thị dưới dạng JSON!'
                    });
                    debugger;
                    $('#resultQuery').val(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    // If fail
                    console.log(textStatus + ': ' + errorThrown);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Có lỗi xảy ra khi truy xuất dữ liệu từ DBPEDIA!'
                    });
                    debugger;
                    $('#resultQuery').val(errorThrown);
                });
            });
        });
    </script>
</body>

</html>