<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>CSS3 + jQuery Search Form</title>


	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>

	<!-- jQuery -->
	<!--<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>-->
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>

	<!-- jQuery Easing -->
	<!--<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='jquery.easing.1.3.js') }}"></script>
	<!-- Functions -->
	<!--<script type="text/javascript" src="js/functions.js"></script>-->
		<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script>
			function timkiem(){
	alert("ok men fs")
				var noidung = $("#noidungtim").val();
				 var jqXHR = $.ajax({
            type: "POST",
            url: "/login",
            async: false,
            data: { mydata: noidung }
        });
		$("#noidungkq").html(jqXHR.responseText)
        alert(jqXHR.responseText);
}
		</script>
	</head>

	<body>
	<span>
		<input id="noidungtim" type="text" >
		<button type="button" onclick="timkiem()">Tìm kiếm</button>
		</span>
	<hr>
	<br>
	<div id="noidungkq"></div>
		<div id="footer">
			<h3>Biệt đội siêu heo</h3>
		</div>
	</body>
</html>
